<!DOCTYPE html>
<html lang='en' dir='ltr'>
  <head>
    <meta charset='utf-8'>
    <title>Top Ten Playlists</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="theme-color" content="#1DB954">
    <link rel='stylesheet' href='./assets/css/style.css'>
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico'>
  </head>

  <body>
    <header>
      <div>Top Ten Playlists</div>
      <a href='https://www.launchtabs.com/' class='home-link'>Other Cool Stuff</a>
    </header>
    <div class='header-fix'></div>
    <div class='menu'>
      <a class='menu__item' href={{ '/' | prepend: site.baseurl }}>Current</a>
      <a class='menu__item' href={{ '/july2019.html' | prepend: site.baseurl }}>July 2019</a>
    </div>
    <div class='container'>{{ content }}</div>
  </body>
</html>
